/* Font Sizes */
.fs-8 { font-size: 0.5rem; }
.fs-12 { font-size: 0.75rem; }
.fs-16 { font-size: 1rem; }
.fs-20 { font-size: 1.25rem; }
.fs-24 { font-size: 1.5rem; }
.fs-28 { font-size: 1.75rem; }
.fs-32 { font-size: 2rem; }
.fs-36 { font-size: 2.25rem; }
.fs-40 { font-size: 2.5rem; }
.fs-44 { font-size: 2.75rem; }
.fs-48 { font-size: 3rem; }
.fs-52 { font-size: 3.25rem; }

/* Media Queries for Responsive Font Sizes */
@media (min-width: 576px) {
  .fs-md-8 { font-size: 0.5rem; }
  .fs-md-12 { font-size: 0.75rem; }
  .fs-md-16 { font-size: 1rem; }
  .fs-md-20 { font-size: 1.25rem; }
  .fs-md-24 { font-size: 1.5rem; }
  .fs-md-28 { font-size: 1.75rem; }
  .fs-md-32 { font-size: 2rem; }
  .fs-md-36 { font-size: 2.25rem; }
  .fs-md-40 { font-size: 2.5rem; }
  .fs-md-44 { font-size: 2.75rem; }
  .fs-md-48 { font-size: 3rem; }
  .fs-md-52 { font-size: 3.25rem; }
}

@media (min-width: 768px) {
  .fs-lg-8 { font-size: 0.5rem; }
  .fs-lg-12 { font-size: 0.75rem; }
  .fs-lg-16 { font-size: 1rem; }
  .fs-lg-20 { font-size: 1.25rem; }
  .fs-lg-24 { font-size: 1.5rem; }
  .fs-lg-28 { font-size: 1.75rem; }
  .fs-lg-32 { font-size: 2rem; }
  .fs-lg-36 { font-size: 2.25rem; }
  .fs-lg-40 { font-size: 2.5rem; }
  .fs-lg-44 { font-size: 2.75rem; }
  .fs-lg-48 { font-size: 3rem; }
  .fs-lg-52 { font-size: 3.25rem; }
}

@media (min-width: 992px) {
  .fs-xl-8 { font-size: 0.5rem; }
  .fs-xl-12 { font-size: 0.75rem; }
  .fs-xl-16 { font-size: 1rem; }
  .fs-xl-20 { font-size: 1.25rem; }
  .fs-xl-24 { font-size: 1.5rem; }
  .fs-xl-28 { font-size: 1.75rem; }
  .fs-xl-32 { font-size: 2rem; }
  .fs-xl-36 { font-size: 2.25rem; }
  .fs-xl-40 { font-size: 2.5rem; }
  .fs-xl-44 { font-size: 2.75rem; }
  .fs-xl-48 { font-size: 3rem; }
  .fs-xl-52 { font-size: 3.25rem; }
}

@media (min-width: 1200px) {
  .fs-xxl-8 { font-size: 0.5rem; }
  .fs-xxl-12 { font-size: 0.75rem; }
  .fs-xxl-16 { font-size: 1rem; }
  .fs-xxl-20 { font-size: 1.25rem; }
  .fs-xxl-24 { font-size: 1.5rem; }
  .fs-xxl-28 { font-size: 1.75rem; }
  .fs-xxl-32 { font-size: 2rem; }
  .fs-xxl-36 { font-size: 2.25rem; }
  .fs-xxl-40 { font-size: 2.5rem; }
  .fs-xxl-44 { font-size: 2.75rem; }
  .fs-xxl-48 { font-size: 3rem; }
  .fs-xxl-52 { font-size: 3.25rem; }
}

/* Font Weights */
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }

/* Margin */
.mg-0 { margin: 0; }
.mg-4 { margin: 4px; }
.mg-8 { margin: 8px; }
.mg-12 { margin: 12px; }
.mg-16 { margin: 16px; }
.mg-20 { margin: 20px; }
.mg-24 { margin: 24px; }
.mg-28 { margin: 28px; }
.mg-32 { margin: 32px; }

/* Padding */
.pd-0 { padding: 0; }
.pd-4 { padding: 4px; }
.pd-8 { padding: 8px; }
.pd-12 { padding: 12px; }
.pd-16 { padding: 16px; }
.pd-20 { padding: 20px; }
.pd-24 { padding: 24px; }
.pd-28 { padding: 28px; }
.pd-32 { padding: 32px; }


.minvh100-130{
    min-height: calc(100vh - 130px);
}
.minvh100-114{
    min-height: calc(100vh - 114px);
}
a {
    text-decoration: none;
}
.f-poppins {
    font-family: "Poppins", sans-serif;
}
#calendar-container {
    width: 100%;
    height: 650px;
}
#calendar {
    width: 100%;
    height: 650px;
}
.navbar-toggler-icon {
    color: #f8f9fa;
}
.navbar{  
    transition: all 0.5s;
}
.fake-navbar{
    width: 100%;
    height: 58px;
}
.fw-semibold{
    font-weight: 500 !important;
}
.icon-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust this value to change the spacing */
  }
.icon-container i {
    flex: 0 0 auto; /* Prevent icon from stretching and use its original width */
    width: 20px; /* Set a fixed width for the icon */
  }

.bg-public-1 {
    background-color: #ACE2E1;
}

.ascent-public-1 {
    color: #008DDA;
}

.ascent-public-2 {
    color: #41C9E2;
}

/* color shades */
.bg-light{
    /* for navbar */
    background-color: #f8f9fa;
}
.bg-light2{
    background-color: #e4e5e5;
}
.bg-light3{
    background-color: #f2f2f2;
}
.bg-light4{
    background-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-mobile-bg{
        background-color: #6c757d;
        border-radius: 20px;
    }
}
#hero {
    width: 100%;
    height: 100vh;
    background: url(/assets/hero/hero2.jpg) bottom center;
    background-size: cover;
    position: relative;
}
@media (min-width: 1024px) {
    #hero {
    background-attachment: fixed;
    }
}
#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 768px) {
    #hero h1 {
    font-size: 28px;
    line-height: 36px;
    }
}
#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}
@media (max-width: 768px) {
    #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 2rem;
    }
}
#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid;
}
#hero .btn-get-started:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
}

.banner-landing-page-container-right {
    height: 240px;
    width: 100%;
    aspect-ratio: 4/6;
    overflow: hidden;
    border-radius: 16px;
    border: #008DDA solid 5px;
    margin-left: -5px;
    transform: skew(0, -5deg);
}

.banner-landing-page-container-mid {
    height: 200px;
    width: 100%;
    aspect-ratio: 4/6;
    overflow: hidden;
    border-radius: 16px;
    border: #008DDA solid 5px;
    margin-top: 35px;
    margin-left: -5px;
    transform: skew(0, -5deg);
}

.banner-landing-page-container-left {
    height: 160px;
    width: 100%;
    aspect-ratio: 4/6;
    overflow: hidden;
    border-radius: 16px;
    border: #008DDA solid 5px;
    margin-top: 75px;
    transform: skew(0, -5deg);
}


@media (min-width: 576px) {
    .banner-landing-page-container-right {
        height: 480px;
        width: auto;
    }

    .banner-landing-page-container-mid {
        height: 400px;
        width: auto;
    }
    
    .banner-landing-page-container-left {
        height: 320px;
        width: auto;
    }
}

.banner-landing-page {
    height: calc(100% + 30px);
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) skew(0, 5deg);
}

#informasi-kami .counters span {
    font-size: 48px;
    display: block;
    color: #2dc997;
}

#informasi-kami .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

#spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
 }
 
 #spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
 }
 
 #spinner {
    z-index: 1;
 }
 